* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

input {
  opacity: 0;
}

label {
  border: .4em solid #90A4AE;
  width: 4em;
  height: 4em;
  display: block;
  position: relative;
  border-radius: 1em;
  margin: .5rem;
}

div {
  position: absolute;
  display: block;
  border-color: transparent;
  border-style: solid;
  border-width: 0;
  border-radius: 0 .4em;
  bottom: 44%;
  left: 50%;
  transform: rotate(-45deg);
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 0;
  height: 0;
}

input:checked+div {
  border-color: transparent transparent #7CB342 #7CB342;
  border-width: 1.5em 4em .5em .5em;
  width: 4.5em;
  height: 2em;
  left: 0;
}

label:nth-child(1) {
  font-size: .5rem;
}

label:nth-child(2) {
  font-size: 1.2rem;
}

/*label:nth-child(3){
  font-size: 2rem;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
